name: Compatibility

on:
  workflow_dispatch:
  schedule:
    # run weekly on Sunday at midnight
    - cron: "0 0 * * 0"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test:
    name: "test (os: ${{ matrix.os }}, node: ${{ matrix.node }}, esbuild: ${{ matrix.esbuild }})"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [20, 22, lts/*]
        esbuild: [latest, 0.23.0, 0.21.4]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
      fail-fast: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: setup node ${{ matrix.node }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node }}

      - name: install
        run: pnpm install --frozen-lockfile

      - name: install esbuild ${{ matrix.esbuild }}
        run: pnpm add -D esbuild@${ESBUILD_VERSION}
        env:
          ESBUILD_VERSION: ${{ matrix.esbuild }}

      - name: build
        run: pnpm build

      - name: test
        run: pnpm test
